// Capability section css
@keyframes progressAnimation {
  0% {
    width: 0%;
  }
  100% {
    display: block;
  }
}

#capability-section {
  display: none;
  margin-top: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .nav-tabs {
    .nav-link {
      font-family: "poppins", sans-serif !important;
      color: hsl(247, 93%, 59%);
      font-weight: 600;

      &.active {
        border-radius: 2rem !important;
        background-color: hsl(247, 93%, 59%) !important;
      }
    }
  }

  #nav-tabContent {
    margin-top: 4rem;
    height: 100vh;
    width: 100%;

    .tab-pane {
      height: 100%;

      span {
        font-size: 1rem;
        font-family: "Cinzel", sans-serif;
        font-weight: 700;
        color: black;
        margin-top: 1rem;
      }

      .progress {
        height: 1rem;
        border-radius: 2rem;
        padding-bottom: 1rem;
        background-color: #d4d4d4;
        overflow: visible !important;

        .html {
          background-color: #f44336 !important;
          height: 1rem;
          position: relative;
          border-radius: 2rem;
          animation: progressAnimation 1s ease-in-out;

          width: 90%;
          span {
            float: right;
            background-color: var(--purple);
            color: #ffffff;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: -20px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -13px;
            overflow: visible;
          }
        }
      }
      .progress {
        height: 1rem;
        border-radius: 2rem;
        padding-bottom: 1rem;
        background-color: #d4d4d4;

        overflow: visible !important;
        .css {
          background-color: rgb(158, 7, 158) !important;
          animation: progressAnimation 1s ease-in-out;
          height: 1rem;
          border-radius: 2rem;
          width: 80%;
          span {
            float: right;
            background-color: var(--purple);
            color: #ffffff;
            height: 40px;
            width: 40px;
            font-size: 15px;
            border-radius: 50%;
            margin-right: -20px;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -13px;
            overflow: visible;
          }
        }
      }

      .progress {
        margin: 1rem 0rem;
      }
      .progress {
        height: 1rem;
        border-radius: 2rem;
        padding-bottom: 1rem;
        background-color: #d4d4d4;
        overflow: visible !important;
        .javascript {
          background-color: #ff9800 !important;
          animation: progressAnimation 1s ease-in-out;
          width: 75%;
          height: 1rem;
          border-radius: 2rem;
          span {
            float: right;
            background-color: var(--purple);
            color: #ffffff;
            height: 40px;
            font-size: 15px;
            width: 40px;
            border-radius: 50%;
            margin-right: -20px;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -13px;
            overflow: visible;
          }
        }
      }
      .progress {
        height: 1rem;
        border-radius: 2rem;
        padding-bottom: 1rem;
        background-color: #d4d4d4;
        overflow: visible !important;

        .python {
          background-color: #4caf50 !important;
          animation: progressAnimation 1s ease-in-out;
          height: 1rem;
          border-radius: 2rem;
          width: 70%;
          span {
            float: right;

            height: 40px;
            font-size: 15px;
            width: 40px;
            border-radius: 50%;
            margin-right: -20px;
            background-color: var(--purple);
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -13px;
            overflow: visible;
          }
        }
      }
      .progress {
        height: 1rem;
        border-radius: 2rem;
        padding-bottom: 1rem;
        background-color: #d4d4d4;
        overflow: visible !important;
        .figma {
          background-color: #e91e63 !important;
          animation: progressAnimation 1s ease-in-out;
          height: 1rem;
          border-radius: 2rem;
          width: 65%;

          span {
            float: right;
            background-color: var(--purple);
            color: #ffffff;
            height: 40px;
            font-size: 15px;
            width: 40px;
            border-radius: 50%;
            margin-right: -20px;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -13px;
            overflow: visible;
          }
        }
      }
      .progress {
        height: 1rem;
        border-radius: 2rem;
        padding-bottom: 1rem;
        background-color: #d4d4d4;
        overflow: visible !important;
        .mern {
          background-color: hsl(247, 93%, 59%);
          animation: progressAnimation 1s ease-in-out;
          height: 1rem;
          border-radius: 2rem;
          width: 25%;

          span {
            float: right;

            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: -20px;
            background-color: var(--purple);
            color: #ffffff;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -13px;
            overflow: visible;
          }
        }
      }
    }
  }
}

.project {
  height: 80vh;

  h1 {
    font-size: 2rem;
    color: black;
    font-weight: 600;
  }

  .swiper-slide {
    margin: auto;
    height: max-content;

    .card {
      .card-body {
        .card-title {
          color: hsl(247, 93%, 59%);
          font-weight: 600;
        }

        .card-text {
          color: black;
          font-weight: 500;
        }

        .card-btn {
          margin: auto;
          background: hsl(247, 93%, 59%) !important;
          color: white;
        }
      }
    }
  }
}
