$grad-red: linear-gradient(180deg, rgba(236,47,20,1) 26%, rgba(253,112,89,1) 100%);
$grad-green: linear-gradient(0deg, rgba(150,245,141,1) 0%, rgba(41,136,13,1) 89%);
$grad-black:linear-gradient(180deg, rgba(0,0,0,1) 14%, rgba(134,134,134,1) 100%);
$grad-blue:linear-gradient(180deg, rgba(20,34,205,1) 26%, rgba(115,123,247,1) 100%);
$grad-yellow:linear-gradient(0deg, rgba(251,135,135,1) 0%, rgba(253,190,45,1) 100%);
$green:#4caf50;
$red:#E91E63;
$blue:hsl(247, 93%, 59%);
$white :white;
$black:black;
$poppins:"poppins", sans-serif;
$bruno:'Bruno Ace SC', cursive;
$fasthand:'Fasthand', cursive;
$josefin:'Josefin Sans', sans-serif;
$cinzel:'Cinzel', serif;
$quick:'Quicksand', sans-serif;



// About Section
#portfolio-section{
    height: 80vh;
    width: 100%;
    margin-top: 4rem;
    background-color: transparent;
    border-radius: 2rem;
    z-index: 1001;
    display:flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    h1{
      font-size: 2rem;
      color: $black;
      font-family: $josefin;
      font-weight: 600;
      padding-top: 1.7rem;
      margin-bottom: 1rem;
      margin-top: 1.5rem;
      span{
        color:$blue;
        font-family: $bruno;
      }
    }
    .progress-container{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: max-content;
      h4{
        font-family: "Cinzel", serif;
        font-size: 1.2rem;
        color:$black!important;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
  .progress{
    margin: 1rem 0rem!important;
    .progress-bar{
      background: linear-gradient(90deg,rgba(173,181,255,1) 0%, rgba(64,44,234,1) 35%, rgb(14, 6, 165) 100%)!important;
      animation: progress-animation 2s ease-in-out;
      border-radius: 2rem;
      @keyframes progress-animation {
        0%{
          width: 0%;
         
  
        }
        100%{
         opacity: 1;
        }
      }
    }
   }